
@{

    ViewBag.Title = "Lista de tareas";

}

<h2>@ViewBag.Title</h2>


<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Create date</th>
        </tr>
    </thead>

    <tbody>

        @foreach (TaskDTO task in ViewBag.ListOfTasks)
        {
            <tr @(task.DueDate < DateTime.Now ? "style=color:red;" : "")>
                <td>@task.ID</td>
                <td>@task.Name</td>
                <td>@task.CreateDate.ToShortDateString()</td>
            </tr>
        }

    </tbody>

</table>
